.first {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.left {
  max-width: 50%;
  h1 {
    font-size: 32px;
    font-weight: 700;
    padding: 0 20px;
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
    padding: 0 20px;
  }
}

.listR {
  padding: 0 20px;
  li {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-bottom: 20px;

    strong {
      font-weight: 700;
      display: block;
      margin-bottom: 5px;
    }
  }
}

.imgSvg {
  width: 70px;
  margin-right: 20px;
}

.second, .fours {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 40px;
  background: linear-gradient(145deg, #1c1c1c, #171717);
  box-shadow:  8px 8px 16px #0e0e0e,
  -8px -8px 16px #262626;

  margin-bottom: 30px;
}

.second {
  h2 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
  }
}

.third {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  h3 {
    max-width: 700px;
    margin: 20px auto 30px auto;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
  }

  .list3 {
    display: grid;
    padding: 0 30px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }
}

.fours {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 30px;
  grid-gap: 40px;
  align-items: start;
}

.block4 {
  padding: 20px 0;
  h4 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
  }
}

.btn {
  white-space: nowrap;
  border-radius: 5px;
  background: #820014;
  max-width: 100%;
  padding: 5px 70px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0 0 0;
  box-shadow: inset -25px -25px 50px #340008,
  inset 25px 25px 50px #d00020;
}

@media screen and (max-width: 780px) {
  .btn {
    max-width: 100%;
    padding: 5px 10px;
  }

  .left {
    max-width: 100%;
  }
  .first {
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
  }
  .second {
    padding: 20px;
    p {
      text-align: center;
    }
  }

  .third {
    .list3 {
      grid-template-columns: 1fr;
    }
  }

  .fours {
    grid-template-columns: 1fr;
    grid-gap: 40px;
    align-items: start;
  }
}