.header {
  background-color: var(--color-black);
  position: fixed;
  top: 0;
  z-index: 10;
  display: block;
  width: 100%;
  align-items: center;
  height: 70px;
}

.headwrap {
  margin: auto;
  max-width: 1280px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
  overflow: hidden;
}

.h3 {
  cursor: pointer;
}

.h3, .h4, .link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
}

.h4 {
  cursor: default;
}

.link {
  font-weight: 700;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: row;
  column-gap: 45px;
}

.logoBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 7px;
}

.logo {
  position: relative;
  top: 20px;
  left: 100px;
  height: 400px;
  transform: rotate(15deg);
  z-index: 7;
}

.burger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 900px){
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20px;
    height: 100%;
    row-gap: 5px;
    z-index: 30;
  }

  .burger span {
    content: '';
    border-radius: 9px;
    height: 3px;
    background-color: whitesmoke;
    width: 20px;
  }

  .headwrap {
    overflow: visible;
  }

  .links {
    position: absolute;
    flex-direction: column;
    row-gap: 5px;
    z-index: 30;
    right: 40px;
    margin: 20px;
    top: 0;
    background-color: var(--color-white);
    max-width: 300px;
    min-width: 200px;
    border-radius: 10px;
  }

  .hid {
    display: none;
  }

  .link {
    padding:10px 20px;
    width: 100%;
    display: block;
    color: var(--color-black);
  }

  .logo {
    display: none;
  }
}